{% extends "layout.html" %}
{% block body %}
<div id="main" class="container">
    <h2>All Documents</h2>
    <table id="doc_table" class="table table-hover">
      <tr>
        <th>ID
        <th>Title
        <th>Amount
		<th>Initiated by
        <th>Department
        <th>Date
		<th>Last recieved by
		<th>Department
        <th>Date
		<th>Action
	  </tr>
      {%- for doc in docs %}
      <tr>
        <td><a href="/doc/{{ doc.id }}">{{ doc.id }}</a>
        <td>{{ doc.title }}
        <td>{{ doc.amount }}</td>
        <td>{{ doc.get_init()}}
		<td>{{ doc.get_init_department()}}
        <td>{{ doc.init_date.strftime('%d/%m/%Y %H:%M') }}
        <td>{{ doc.get_last()}}
        <td>{{ doc.get_last_department()}}
        <td>{{ doc.get_last_date() }}
		{%- if doc.can_forward(current) %}		
		<td><a href="/forward/{{doc.id}}" class="btn btn-large btn-primary">Forward</a></td>
		{%- elif doc.can_accept(current) %} 
		<td><form action="" method=post class="form-horizontal"><button id="accept" name="accept" value="{{ doc.id }}" type="submit" class="btn btn-success">Accept</button></form></td>	
		{%- else %}
		<td></td>
		{%- endif %}
		</tr>
      {%- endfor %}
    </table>
   <div class="pagination"></div>
    <p>
      <a href="{{ url_for('new') }}" class="btn btn-large btn-primary">New Document</a>

  
</div>
<script>
$(document).ready(function() { // assuming the table will exist at document.ready

  $('#doc_table').tableNav();

});
</script>
{% endblock %}
