<!doctype html>
<title>Document Management System - IIT Indore</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<style>
body {
	//padding-top: 60px;
	padding-bottom: 100px;
}
</style>
<link href="/static/css/bootstrap.css" rel="stylesheet">
<link href="/static/css/theme.bootstrap.css" rel="stylesheet">
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/jquery.tablesorter.js"></script>
<script src="/static/js/jquery.tablesorter.widgets.js"></script>
<link rel="stylesheet" href="/static/js/jquery.tablesorter.pager.css">
<script src="/static/js/jquery.tablesorter.pager.js"></script>


<nav class="navbar navbar-inverse navbar-static-top">
			<div class="container">
				 <div class="navbar-header">
				<a class="navbar-brand" href="/">DMS-IITI</a>
				</div>
				<div class="nav-collapse">
					<ul class="nav navbar-nav">
					   {% if g.user.is_authenticated()%}
						<li {% if request.path == "/" %}class="active"{% endif %}><a href="/">My Documents</a></li>
                        <li {% if request.path == "/all" %}class="active"{% endif %}><a href="/all">All Documents</a></li>
					    <li {% if request.path == "/new" %}class="active"{% endif %}><a href="/new">New Document</a></li>
                        {% endif %}
					</ul>
					<ul class="nav navbar-nav navbar-right">
                        {% if g.user.is_authenticated()%}
                            <li class="navbar-text">Welcome, {{g.user.fullname}}</li>
							<li><div><a href="{{ url_for('logout') }}" class="btn navbar-btn btn-danger">Sign out</a></div></li>
						{% endif %}
						{% if not g.user.is_authenticated()%}
							<li {% if request.path == "/login" %}class="active"{% endif %}><div><a class="btn navbar-btn btn-success" href="{{ url_for('login') }}">Sign in</a></div></li>
						{% endif %}
					</ul>
				</div>
				<!--/.nav-collapse -->
</div>
</nav>

<div id="main" class="container">
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	  <div class="alert alert-success">
		    <ul>
		    {% for message in messages %}
		      <li>{{ message }}</li>
		    {% endfor %}
		    </ul>
		</div>
	{% endif %}
	{% endwith %}

	{% block body %}{% endblock %}
	<hr>
</div>
