{% extends "layout.html" %}
{% block body %}
 <h2>{{doc.title}}</h2>
 <b>Amount:</b> {{doc.amount}}<br>
 <b>Initiated by:</b> {{name}}<br>
 <b>Initiated on:</b> {{ doc.init_date.strftime('%b %d, %G %H:%M %p') }} <br>
 <b>Description:</b><div style="width: 500px; word-wrap: break-word"> {{doc.desc}} </div>
 <br><br>

 <table id="doc_table" class="table table-bordered ">
      <tr>
        <th>Department
        <th>Inward Date & Time
        <th>Outward Date & Time
        <th>Remarks
      {%- for row in doc.log.strip().split('#') if row%}
      <tr>
			{%- for item in row.split('|') if item %}
        <td><div style="width: 200px; word-wrap: break-word">{{ item }}</div></td>
       {%- endfor %} 
      {%- endfor %}
    </table>

{% endblock %}
